.leaflet-popup-content-wrapper {
	padding: 1px;
	text-align: left;
	border-radius: 3px !important; /* changed */
	width: 250px !important;
}

.leaflet-popup-content {
	margin: 3px 3px 3px 3px !important; /* changed */
	line-height: 1.3;
	font-size: 13px;
	font-size: 1.08333em;
	min-height: 1px;
	overflow: hidden;
}

.leaf_pup_img {
	object-fit: contain;
    height: 100%;
    width: 100%;
}

.mfoto_grid {
	max-width: 2500px;
    width: 100%;
    height: 100%;
}

.boxmap {
	width: 100%;
    height: 100%;
}

#map0 {
	width: 100%;
    height: 100%;
}