/* --------- Thumbnails ----------------------- */
.thumb_wrapper {
	width: 100%;
	height: 150px;
	-webkit-box-shadow: 0px 4px 16px -3px rgba(0,0,0,0.8);
	box-shadow: 0px 4px 16px -3px rgba(0,0,0,0.8);
	margin-top:5px;
	margin-bottom:5px;
}

.thumb_inner {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex !important;

	overflow-x: scroll;
	overflow-y: hidden;
	
	white-space: nowrap;
	width: 100%;
	height: 100%;
	position: relative;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	cursor: pointer;
	-ms-overflow-style: none;
	/* IE and Edge */
	/* scrollbar-width: none; */
	/* Firefox */
}

.th_wrap_0_img {
	/*height: 100px;
	height:75px;
	width:75px;*/
	margin-left:2px;
	margin-right:2px;
}

.thumb_inner_centered {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.thumb_inner div img {
	margin-bottom: 0px;
	-o-object-fit: fill;
	object-fit: fill;
	max-width: unset !important;
	height: 100%;
}

@-moz-document url-prefix() {
	.thumb_inner div img { 
		all:initial;
		margin-bottom: 0px;
		object-fit: fill;
		max-width: unset !important;
	}
}

@media not all and (min-resolution: 0.001dpcm) {
	.thumb_inner div img { 
		all:initial;
		margin-bottom: 0px;
		object-fit: fill;
		max-width: unset !important;
	}
}

.thumbnail_slide {
	-webkit-filter: brightness(0.8);
	filter: brightness(0.8);
	-webkit-transition: 150ms;
	-o-transition: 150ms;
	transition: 150ms;
	padding: 5px;
}

.thumbnail_slide:hover {
	-webkit-filter: brightness(1.00);
	filter: brightness(1.00);
}

.thumb_with_gps {
	background-color: darkgreen;
}

.thumb_no_gps {
	background-color: darkred;
}

@-webkit-keyframes activation {
	30% {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}

	40%,
	60% {
		-webkit-transform: rotate(-10deg) scale(0.9);
		transform: rotate(-10deg) scale(0.9);
	}

	50% {
		-webkit-transform: rotate(10deg) scale(0.9);
		transform: rotate(10deg) scale(0.9);
	}

	70% {
		-webkit-transform: rotate(0deg) scale(0.95);
		transform: rotate(0deg) scale(0.95);
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes activation {
	30% {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}

	40%,
	60% {
		-webkit-transform: rotate(-10deg) scale(0.9);
		transform: rotate(-10deg) scale(0.9);
	}

	50% {
		-webkit-transform: rotate(10deg) scale(0.9);
		transform: rotate(10deg) scale(0.9);
	}

	70% {
		-webkit-transform: rotate(0deg) scale(0.95);
		transform: rotate(0deg) scale(0.95);
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

.thumbnail_slide.active {
	z-index: 100;
	-webkit-filter: brightness(1.05);
	filter: brightness(1.05);
}

.thumbnail_slide.active_animation {
	z-index: 100;
	-webkit-filter: brightness(1.05);
	filter: brightness(1.05);
	-webkit-animation: activation 0.8s ease 1;
	animation: activation 0.8s ease 1;
}