body, html {  
  margin: 0;  
  padding: 0;  
  height: 100%;  
  width: 100%;  
  overflow: hidden;  
}  
  
.vertical-container {  
  display: flex;  
  flex-direction: column;  
  height: 100%;  
  width: 100%;  
}  
  
.container {  
  display: flex;  
  flex-direction: row;  
  flex-grow: 1;  
  width: 100%;  
}  
  
.sidebar {  
  background-color: #f1f1f1;  
  width: 200px;  
  min-width: 100px;  
}  
  
.resizer {  
  width: 5px;  
  background-color: #bbb;  
  cursor: ew-resize;  
}  
  
.horizontal-resizer {  
  height: 5px;  
  background-color: #bbb;  
  cursor: ns-resize;  
}  
  
.main-content {  
  background-color: #fff;  
  flex-grow: 1;  
}  
  
.bottom-bar {  
  background-color: #efcf59;  
  height: 50px;  
  min-height: 30px;  
} 

.top-bar {  
  background-color: #3188b1;  
  height: 50px;  
  min-height: 30px;  
}