body, html {  
  margin: 0;  
  padding: 0;  
  height: 100%;  
  width: 100%;  
  overflow: hidden;  
}

.mfoto_grid {
  max-width:2500px;
}

.leafmap {
  height: 100%;
  width: 100%;
  max-height:1600px
}
  
.vertical-container {  
  display: flex;  
  flex-direction: column;  
  height: 100%;  
  width: 100%;  
}  
  
.container {  
  display: flex;  
  flex-direction: row;  
  flex-grow: 1;  
  width: 100%;  
}  
  
.resizer {  
  width: 5px;  
  background-color: #bbb;  
  cursor: ew-resize; 
  background: linear-gradient(to bottom, #e0e0e0 0%, #b0b0b0 50%, #e0e0e0 100%);
  box-shadow: 0 1px 2px rgba(0,0,0,0.08);
  border-radius: 3px;
}  

.resizer:hover {
  background: linear-gradient(to bottom, #d0d0d0, #b0b0b0);
  box-shadow: 0 3px 8px rgba(251, 3, 3, 0.891);
}
  
.horizontal-resizer {  
  height: 5px;  
  background-color: #bbb; 
  background: linear-gradient(to right, #e0e0e0 0%, #b0b0b0 50%, #e0e0e0 100%);
  box-shadow: 1px 0 4px rgba(0,0,0,0.10);
  border-radius: 3px;
  cursor: ns-resize;  
}

.horizontal-resizer:hover {
  background: linear-gradient(to right, #d0d0d0, #b0b0b0);
  box-shadow: 0 3px 8px rgba(251, 3, 3, 0.891);
}
  
.main-content {  
  background-color: #fff;  
  flex-grow: 1;  
}  
  
.bottom-bar {  
  background-color: #000000;  
  height: 50px;  
  min-height: 30px;  
} 

.top-bar {  
  background-color: #edecec;  
  height: 50px;  
  min-height: 30px;  
}

.sidebar {  
  background-color: #f1f1f1;  
  width: 200px;  
  min-width: 100px;  
} 

.leftbar-Section {
  padding:10px; 
  font-family: Arial, sans-serif; 
  font-size: 14px; 
  color: #333;
  border-bottom: 1px solid #ccc;
}

.leftbar-Section .sectionHeader {
  font-size: 16px;
  margin-bottom: 10px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
}

.leftbar-Section div {
  margin-bottom: 5px;
}

.meta-section {
  display: grid;
  grid-template-columns: 150px 1fr; /* linke Spalte fix, rechte flexibel */
  gap: 6px 12px; /* Abstand zwischen Label/Input (x) und zwischen Zeilen (y) */
  margin-bottom: 1rem;
  align-items: center; /* vertikal mittig */
  padding-right: 10px;
}

.meta-section label {
  font-weight: bold;
  text-align: right;  /* optional: Label rechtsbündig */
}

.meta-input {
  width: 100%;       /* Input füllt Spalte aus */
  box-sizing: border-box;
  padding: 4px 6px;
}

/* Entferne alle benutzerdefinierten Stile für den Button */  
.meta-button {  
  all: unset; /* Entfernt alle benutzerdefinierten CSS-Stile */  
  display: inline-block; /* Stellt sicher, dass der Button wie ein Block-Element angezeigt wird */  
  cursor: pointer; /* Zeigt den Zeiger als Hand an, wenn über den Button gefahren wird */  
  padding: 0.5em 1em; /* Füge etwas Polsterung hinzu */  
  border: 1px solid; /* Standardrahmen */  
  border-radius: 4px; /* Leicht abgerundete Ecken */  
}  
  
.meta-button:focus {  
  outline: 2px solid blue; /* Fügt einen Fokusrahmen hinzu */  
}  

.meta-button:hover {  
  background-color: #e62020; /* Hintergrundfarbe beim Hover-Effekt */  
}

